*.cmp
*.tst
*.out
*.hack
*.class
*.vm
*.html
*.asm
.DS_Store
demo/
00/
06/add/
06/max/
06/pong/
06/rect
09/Average/
09/BitmapEditor/
09/Fraction/
09/HelloWorld/
09/List/
09/Square/Main.jack
09/Square/SquareGame.jack
09/Jack OS API.pdf
10/ArrayTest/
10/ExpressionLessSquare/
10/Square/
11/Average
11/ComplexArrays
11/ConvertToBin
11/Pong
11/Seven
11/Square
12/
13/